/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea
automation/provision/local.retry
automation/.vagrant/machines/default/virtualbox/vagrant_cwd
automation/.vagrant/machines/default/virtualbox/synced_folders
automation/.vagrant/machines/default/virtualbox/private_key
automation/.vagrant/machines/default/virtualbox/index_uuid
automation/.vagrant/machines/default/virtualbox/id
automation/.vagrant/machines/default/virtualbox/creator_uid
automation/.vagrant/machines/default/virtualbox/action_set_name
automation/.vagrant/machines/default/virtualbox/action_provision
automation/deploy/local.retry
node_modules/
web/employees/
